html,
body {
  height: 100%;
  margin: 0;
}

.chart_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

select {
  font-size: larger;
  text-align: center;
}

.chart1,
.chart2 {
  flex: 1;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.scatter_chart,
.line_chart {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background-color: aliceblue;
}
